<section>
	<div class="row">
		<h1>Manage Orders</h1>
	</div>

    <div class="row container">
        <div class="col-xs-12">
          <h5>Filter: <input ng-model="search" type="text"placeholder="status"></input> </h5> 
          <p></p>
           <table class="table">
          <tr><th>Cart ID</th><th>User</th><th>Items</th><th>Status</th><th>Checkout Date</th><th>Action</th></tr>
          <tr ng-repeat="order in allOrders | filter:search">
            <td>{{ order._id }}</td>
            <td>{{ order.user_id.email }}</td>
            <td>{{ order.items.length }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.checkout_date }}</td>
            <td><a ui-sref="order({orderId: order._id})">View</a> | <a ng-click="updateOrderStatus(order)">Update Status*</a> | <a ng-click="cancelOrder(order)">Cancel</a></td>
          </tr>
          </table>
          <div class="col-xs-12">*note: order status will change from ordered -> shipped -> delivered </div>
        </div>

    </div>
</section>

