<section>
	<div class="row">
		<h1>Manage Users</h1>
	</div>
    <div class="row container">
        <div class="col-xs-12">

          <div class="alert alert-warning alert-dismissible" role="alert" ng-show="userDeleted">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            User successfully deleted. List will refresh in one moment.
          </div>

          <table class="table">
          <tr><th>Email</th><th>First</th><th>Last</th><th>Type</th><th>Action</th></tr>
          <tr ng-repeat="user in allUsers">
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.type }}</td>
            <td><a ng-click='switchUserType(user)'>Update Type</a> | <a ng-click="deleteUser(user)">Delete</a> | Password Reset</td>
          </tr>
          </table>
        </div>
    </div>
</section>
