reviews {

  table {
    width: 100%;
  }

  th {
    padding: 5px;
    background-color: goldenrod;
    border: none;
  }

  table tr {
    background-color: ghostwhite;
    border: darkgray solid 1px;
  }

  td {
    padding: 10px;
  }

  #star-slider input[type="number"] {
    text-align: center;
    padding-left: 10px;
  }

  #submit {
      vertical-align: center;
  }

  .help-block {
    padding-bottom: 0;
  }

}
