<form id="login-form" name="profileForm" ng-submit="updateUser(user, address)">
    <h1>{{user.first_name || user.email}}'s Profile</h1>

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Update email">
    </div>
    <div class="form-group">
        <label for="signup-first_name">First Name</label>
        <input type="text" ng-model="user.first_name" class="form-control" id="signup-first_name" placeholder="Update First Name">
    </div>
    <div class="form-group">
        <label for="signup-last_name">Last Name</label>
        <input type="text" ng-model="user.last_name" class="form-control" id="signup-last_name" placeholder="Update Last Name">
    </div>

    <div class="form-group">
        <label for="signup-phone">Phone Number</label>
        <input type="text" ng-model="user.phone_number" class="form-control" id="signup-phone" placeholder="Update Phone Number">
    </div>

    <div class="form-group">
        <label for="signup-shipping_address">Shipping Address</label>
        <br>
        
        <span>Street Number</span>
        <input type="text" ng-model="address.number" class="form-control" id="signup-shipping_address" placeholder="Street Number">
        <br>
        <span>Street Name</span>
        <input type="text" ng-model="address.street" class="form-control" id="signup-shipping_address" placeholder="Street Name">
        <br>
        <span>City</span>
        <input type="text" ng-model="address.city" class="form-control" id="signup-shipping_address" placeholder="City">
        <br>
        <span>State</span>
        <input type="text" ng-model="address.state" class="form-control" id="signup-shipping_address" placeholder="State">
        <br>
        <span>Country</span>
        <input type="text" ng-model="address.country" class="form-control" id="signup-shipping_address" placeholder="Country">
        <br>
        <span>Zipcode</span>
        <input type="text" ng-model="address.zipcode" ng-maxlength="5" class="form-control" id="signup-shipping_address" placeholder="Zipcode">
    </div>
    <div class="form-group">
        <label for="signup-password">Password*</label>
        <input type="password" ng-model="user.password" class="form-control" id="signup-password" placeholder="Update Password">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>


<div>
    <button ng-click="orderHistory()" class="btn btn-default">See Order history</button>
</div>

<div>
    <table class="table">
          <tr><th>Order ID</th><th>Items</th><th>Status</th><th>Order Date</th></tr>
          <tr ng-repeat="cart in carts">
            <td><a ui-sref="order({orderId: cart._id})">{{ cart._id }}</a></td>
            <td>{{ cart.items.length }}</td>
            <td>{{ cart.status }}</td>
            <td>{{ cart.checkout_date }}</td>
          </tr>
          </table>
</div>

<div class="container">
    <user-reviews user="{{ user }}"></user-reviews>
</div>










