#products {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  img {
  	width: 100%;
  }
}

#productDetails {
  .priceStock {
    font-size: 20px;
  }

  .detailText {
    font-size: 15px;
  }

  .glyphicon-shopping-cart{
    font-size: 18px;
  }
}